@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Lato', sans-serif;
}

/* Main page overview cards */

.sd-card {
    margin: 10px 0;
    padding: 30px 10px 20px 10px;
}

.sd-card .sd-card-header {
    border: none;
    padding: 2.5rem 0 0.5rem 0;
    font-size: var(--pst-font-size-h5);
    font-weight: bold;
    text-align: center;
}

.sd-card .sd-card-header .sd-card-text {
    margin: 0;
}

.sd-card .sd-card-img-top {
    height: 55px;
    width: 55px;
    margin-left: auto;
    margin-right: auto;
}

.sd-card .sd-card-footer {
    border: none;
}

html[data-theme=dark] .sd-card img[src*='.svg'] {
    filter: invert(0.82) brightness(0.8) contrast(1.2);
}

html[data-theme=dark] .sd-shadow-sm {
    box-shadow: 0 0.1rem 1rem rgba(250, 250, 250, 0.6) !important;
}

/* Footer */

.footer-items__start, .footer-items__end {
    flex-direction: row !important;
}
