# .github/dependabot.yml
# Dependabot configuration file
# See https://docs.github.com/en/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/keeping-your-actions-up-to-date-with-dependabot for details

version: 2

updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: "weekly"
      day: "friday"
      time: "15:00"
      timezone: "Asia/Shanghai"
