# .github/workflows/build.yml
# GitHub Actions configuration file for building wheels
# See https://github.com/pypa/cibuildwheel for details

name: build

on:
  push:
    branches: [python/dev]
  pull_request:
    branches: [python/dev]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build_wheels:
    name: Build wheel for cp${{ matrix.python }}-${{ matrix.platform }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        include:
          # 32-bit Linux
          - os: ubuntu-22.04
            python: 37
            platform: manylinux_i686

          # 64-bit Linux
          - os: ubuntu-22.04
            python: 37
            platform: manylinux_x86_64
          - os: ubuntu-22.04
            python: 38
            platform: manylinux_x86_64
          - os: ubuntu-22.04
            python: 39
            platform: manylinux_x86_64
          - os: ubuntu-22.04
            python: 310
            platform: manylinux_x86_64
          - os: ubuntu-22.04
            python: 311
            platform: manylinux_x86_64

          # 64-bit macOS
          - os: macos-12
            python: 37
            platform: macosx_x86_64
          - os: macos-12
            python: 38
            platform: macosx_x86_64
          - os: macos-12
            python: 39
            platform: macosx_x86_64
          - os: macos-12
            python: 310
            platform: macosx_x86_64
          - os: macos-12
            python: 311
            platform: macosx_x86_64

          # 64-bit Windows
          - os: windows-2019
            python: 37
            platform: win_amd64
          - os: windows-2019
            python: 38
            platform: win_amd64
          - os: windows-2019
            python: 39
            platform: win_amd64
          - os: windows-2019
            python: 310
            platform: win_amd64
          - os: windows-2019
            python: 311
            platform: win_amd64

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install mingw-w64 on Windows
        if: ${{ runner.os == 'Windows' }}
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          path-type: inherit
          install: |
            mingw-w64-x86_64-gcc-fortran
            msys2-runtime-devel

      - name: Check headers
        if: ${{ runner.os == 'Windows' }}
        run: |
          ls -l /usr/include/

      - name: Build and test wheels
        uses: pypa/cibuildwheel@v2.12.1
        env:
          CIBW_BUILD: cp${{ matrix.python }}-${{ matrix.platform }}

      - name: Store artifacts
        uses: actions/upload-artifact@v3
        with:
          path: wheelhouse/*.whl

  upload_anaconda:
    name: Upload to Anaconda
    runs-on: ubuntu-latest
    if: ${{ github.event_name != 'pull_request' }}
    needs: build_wheels

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Download artifacts
        uses: actions/download-artifact@v3
        with:
          path: dist

      - name: Upload artifacts to Anaconda
        run: bash tools/github/upload_anaconda.sh
        env:
          ANACONDA_TOKEN: ${{ secrets.ANACONDA_TOKEN }}
